<h1>Bem Vindo ao Dashboard de Admin</h1>
<br>
<td><%= link_to 'Mostrar todos os Clientes', 'admins/showClientes' %></td>
<br><br>
<td><%= link_to 'Mostrar todos os Dogs', 'admins/showDogs' %></td>
<br><br>
<td><%= link_to 'Mostrar todos os Passeadores', 'admins/showPasseadores' %></td>
<br><br>
<%= link_to 'Voltar', welcome_index_path %>
